<div class="navbar navbar-expand-sm bg-success navbar-fixed-top">
    <img src="./assets/logo.png" alt="github log" width="40px" height="40px">
    <h2 class="p-0 m-0 navbar-brand" routerLink="/home">&nbsp;Git-Search</h2>

    <!-- button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-3 mt-lg-0 ">
            <li class="nav-item ">
                <a class="nav-link" routerLink="user-profile">Search User<span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="search-repo">Search Repositiry</a>
            </li>
        </ul>
    </div>
</div>